/*Name: Uday S. Trivedi
Date: 1/21/2018
Description: Assignment # 1 CS 290 - HTML FILE*/

body{
      font-family: 'Raleway', sans-serif;
      background-color:  rgb(255,252,255); 
      margin-left:15px;

} 

.dna_btn {
    background-color: #c62127;
    color: white;
    border: #c62127;
}

.form-control {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
}


#title1{
    font-size: 30px;
    color: blue;
}

#displayTitle1{
    font-size: 25px;
}

.displayTitle2{
    font-size: 20px;
    color: rgb(252, 215, 5);
    background-color: black;
    font-weight: bold;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 25%;
}

.dataPoint{
    font-size: 25px;
    color: rgb(252, 215, 5);
    background-color: black;
}

.dataOutput{
    font-size: 25px;
    color: white;
    position: relative;
    left: 10px;
}


#decisionOutput{
    color: black;
    background-color: rgb(252,215,5);
    font-weight: bold;
}

#preInterview{
    display: none;
    background-color: black;
    color: rgb(255,252,255);
}

#postInterview{
    display: block;
    background-color: black;
    color: rgb(255,252,255);
}

#decisionOutputPost{
    color: black;
    background-color: rgb(252,215,5);
    font-weight: bold;
}

#individual{
    display: block;
}

#summary{
    background-color: rgb(255,252,255);
    color: black;
    display: none;
}

.resultTitleBar{
    background-color: brown;
}

.resultTitleBar2{
    background-color:  brown;
    color:white;
}

.dataPointSummary{
    font-size: 25px;

}

.chart, .chart2{
   position: absolute;
    top: 300px;
    left: 200px;
    /* position: absolute;
   top: 180px;
   /* left: 100px; */
   transform: scale(2.5);
   display: block; */

}


#shiftDown{
    position: relative;
    top: 1000px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#sumDescPre, #sumDescPost{
    font-size: 45px;
    font-weight: bold;
}


#preInterviewSummary{
    display: block;
}

#postInterviewSummary{
    display: none;
}